/* Structure */

body, html {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-position:center;
	font-size: 14px;
}

nav {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	position: fixed;
	top: 0;
	margin-top: 0px;
}

nav ul {
	list-style: none;
	text-align: center;
		margin: 0;
		padding: 0;
}

nav li {
	display: inline-block;
}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 20px;
	display: block;
	font-weight: bold;
	font-size: 14px;
}

nav ul li a:hover {
	background-color: rgb(52, 73, 94);
	transition: background-color 0.5s ease;
}

.halfwidth {
	width: 48%;
	float: left;
	margin: 1%;
	background-color: white;
}

.fullwidth {
	width: 100%;
}

.clear {
	clear:both;
}

.wrapper {
	width: 100%;
	max-width: 1024px;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	
}

footer {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	color: white;
}

#viewheight {
	display: block;
	height: 100vh;
	top: 0;
	margin: 0px;
}

.parent {
    display: flex;
    align-items: center;
}

.left {
  margin-right: auto;
}
	
.right {
  margin-left: auto;
}

#mobile_menu {
	display: none;
	cursor: pointer;
}

#toggle-1 {
	display: none;
}

.bounce {
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/* Skin */

.whitebackground {
	background-color: white;
	width: 100%;
}

.transbackground {
	color: white;
	width: 100%;
}

.submit-button {
	padding: 20px;
	margin-top: 10px;
	background-color: #111111;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	text-align: center;
	width: 150px;
	display: inline-block;
	border: none;
}

label {
	margin-bottom: 10px;
}


input {
  margin-top: 10px;
	margin-bottom: 10px;
  padding: 10px;
  color: #95a5a6;
  border-radius: 3px;
  border: 1px #ccc solid;
	width: 30%;
}

select {
  margin-top: 10px;
	margin-bottom: 10px;
  padding: 10px;
  color: #95a5a6;
  border-radius: 3px;
  border: 1px #ccc solid;
	width: 30%;
}

textarea {
    margin-top: 10px;
    padding: 10px;
    color: #95a5a6;
    border-radius: 3px;
    border: 1px #ccc solid;
	width: 30%;
}

footer p {
	margin: 0px!important;
	display: block;
	padding: 20px;
	font-size: 8px;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 2px 2px #000;
}

.articledatebox {
	background-color: #111111;
	padding: 10px;
	display: block;
	color: white;
	width: 40px;
	float: right;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin-left: 10px;
	float: top;
}

.articlemonth {
	display: block;
	font-weight: normal;
	font-size: 14px;
}

.read-more {
	background-color: #111111;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

#home-circle {
	display: block;
	position: absolute;
  bottom: 0;
	margin-bottom: 10px;
	left: 49%;
	color: rgb(44, 62, 80);
	font-size: 40px;
	border-style: solid;
	border-width: 30px 30px 0 30px;
	border-color: #ffffff transparent transparent transparent;
	margin-bottom: 20px;
}

#home-circle a {
		color: rgb(44, 62, 80);
		text-decoration: none;
}
#home-circle:hover {
	border-color: rgb(236, 240, 241) transparent transparent transparent;;
}

#homepage-banner {
	color: white;
	text-align: center;
	font-family: 'Bungee', cursive;
	padding-top: 20%;
}

/* Content */

article h2 {
	margin: 0!important;
	color: #111111;
	font-family: 'Passion One', cursive;
}

form {
  text-align: center;
}

.wrapper h1 {
	text-align: center;
	font-family: 'Bungee', cursive;
	border-bottom: 1px solid #ccc;
	color: #2c3e50;
	font-size: 40px;
	margin: 0px;
	margin-bottom: 20px;
}

#homepage-banner h1 {
	margin: 0;
	font-size: 60px;
	text-shadow: 0px 5px #000;
}

#homepage-banner span {
	display: block;
	font-size: 14px;
	text-shadow: 0px 2px #000;
	margin-top: 10px;
	
}

/* Mobile/Tablet/Misc Device Responsiveness */

@media (min-width: 0px) and (max-width: 600px) {
  
	nav ul li {
		display: block;
	}
	
	#nav {
		display: none;
	}
	#mobile_menu {
		display: block;
		color: white;
		font-size: 20px;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		padding: 20px;	
	}

	input[type=checkbox]:not(:checked) ~ ul{
		display: none;
	}

	input[type=checkbox]:checked ~ ul{
		display: block;
	}
	
	#homepage-banner h1 {
		line-height: 30px;
		margin-top: 50%;
		font-size: 30px;
	}
	
	.halfwidth {
		width: 100%;
		margin: 0px!important;
	}
	
	.wrapper h1 {
		font-size: 25px;
	}
	
	.wrapper {
		width: 90%!important;
	}
	
	footer {
		text-align: center;
		line-height: 20px;
	}
	
	textarea, input, select {
		width: 93%;
	}
  
}

@media (min-width: 600px) and (max-width: 767px) {
  
	.wrapper {
		width: 90%!important;
	}
	
	.halfwidth {
		width: 100%;
		margin: 0px!important;
	}
	
}

@media (min-width: 768px) and (max-width: 1024px) {
  
	.wrapper {
		width: 90%!important;
	}
	
	textarea, input, select {
		width: 80%;
	}
  
}
